@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--f7-theme-color:#000;
	--f7-navbar-bg-color: #000; /*navbar*/
	--f7-navbar-link-color: #FFF; /*navbar link*/
	--f7-navbar-text-color:#FFF;
	--f7-bars-bg-color:#fff;/*toolbar*/
	--f7-tabbar-link-inactive-color: #333; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
	--color-gris:#8F8F8F;
	--color-verde: #007042;
	--color-negro:#000;
	--fondo-gris:#f2f2f2;
}

body{
	font-family: "Roboto", sans-serif;
	color: var(--color-negro);
	font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
	margin: 2px 0;
	color: var(--color-negro);
}
p{
	margin: 2px 0;
}

.img-fluid{
	max-width: 100%;
}

#perfil{
	background-color: var(--fondo-gris);
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px 30px;
}
#perfil img{
	width: 60px;
	height: 60px;
	border-radius: 100%;

}

.panel-left .item-media span{
	color: var(--f7-theme-color);
	font-size: 24px;
}
.panel-left .item-title{
	font-size: 14px;
}

#welcome h2{
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
}
#welcome .card{
	background-image: url("../img/newandclean.jpg");
	background-size: cover;
	color: #fff;
	border-radius: 15px;
	padding: 250px 50px 10px 50px;
}
#welcome .card h2{
	color: #fff;
	font-size: 18px;
}

#welcome .card p{
	color: #fff;
	font-size: 12px;
	text-align: center;
}
#welcome .card-content{
	padding-bottom: 0;
}

#welcome .newclean{
	position: absolute;
	bottom: 0;
	background-color: transparent;
	color: #fff;
	padding: 15px 10px;
}

.block-title{
	color: var(--color-negro);
}
.block-title-medium{
	font-size: 22px;
	padding-bottom: 10px;
 	margin-bottom: 0;
  	line-height: 16px;
}

.producto.card{
	box-shadow: 0px 0px 10px 4px var(--fondo-gris);
}
.producto .card-footer{
	background-color: var(--f7-theme-color);
	color: #fff;
}
.producto a{
	color: #fff;
}
.producto img{
	max-height: 130px;
	margin: auto;
	display: block;
}

.marca-producto{
	font-size: 15px;
}
.nombre-producto{
	color: var(--color-gris);
	font-weight: 400;
}
.precio-producto{
	color: #fff;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 12px;
}

#products .precio-producto{
	color: #000;
	font-weight: 600;
	margin-top: 25px;
}

.toolbar i{
	color: var(--f7-theme-color);
}
.toolbar .tabbar-label{
	font-size: 12px;
}

#products .nombre-producto{
	font-size: 75%;
	color: var(--color-negro);
}

#products .marca-producto{
	margin-top: 20px;
}


#toolbar-tab .tab-link{
	font-size: 12px;
	text-transform: inherit;
	color: var(--color-negro);
}

.bg-gris{
	background-color: var(--fondo-gris);
}

.link-icon{
	text-transform: inherit;
	font-weight: 400;
}
.link-icon span{
	vertical-align: inherit;
}

.precio-producto.medium{
	font-size: 20px;
	margin-top: 0;
}

#diorlip .precio-producto{
	color: #000;
}


#diorlip .maylike .precio-producto{
	color: #fff;
}

#profile img{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	margin-top: 150px;
	margin-bottom: 15px;

	
}

#profile{
	text-align: center;
}

#profile h2{
	margin: 0;
	text-align: center;
}

#profile p{
	margin: 20px 0 10px 0;
	text-align: center;
}




